@font-face {
    font-family: opensans;
    src: url(opensans.woff2);
}

body {
    font-family: opensans, Arial, Helvetica, sans-serif;
    font-size: 14px;
    height: 100%;
}
.error {
    padding-top: 5px;
    text-align: center;
    display: block;
}

/*//////////////////////////////////////////////////////////////////
[ RESTYLE TAG ]*/

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/*---------------------------------------------*/
h1,h2,h3,h4,h5,h6 {
    margin: 0px;
}

.p-b-26 {
    padding-bottom: 26px;
}

.p-b-48 {
    padding-bottom: 48px;
}

/*---------------------------------------------*/
input {
    outline: none;
    border: none;
}

input::placeholder {
    color: #adadad;
}

/*//////////////////////////////////////////////////////////////////
[ login ]*/

.limiter {
    width: 100%;
    margin: 0 auto;
}

.container-login100 {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 15px;
    background: #f2f2f2;
}

.wrap-login100 {
    width: 390px;
    background: #fff;
    border-radius: 7px;
    overflow: hidden;
    padding: 77px 55px 33px 55px;
    box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
}


/*------------------------------------------------------------------
[ Form ]*/

.login100-form {
    width: 100%;
}

.login100-form-title {
    display: block;
    font-family: opensans;
    font-size: 30px;
    color: #333333;
    line-height: 1.2;
    text-align: center;
}

.login100-form-title i {
    font-size: 60px;
}

/*------------------------------------------------------------------
[ Input ]*/

.wrap-input100 {
    width: 100%;
    position: relative;
    border-bottom: 2px solid #adadad;
    margin-bottom: 37px;
    display: flex;
    align-items: center;
}

.input100 {
    font-family: opensans;
    font-size: 15px;
    color: #555555;
    line-height: 1.2;
    display: block;
    width: 100%;
    height: 45px;
    background: transparent;
    padding: 0 5px;
}

/*------------------------------------------------------------------
[ Button ]*/
.container-login100-form-btn {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 13px;
}

.wrap-login100-form-btn {
    width: 80%;
    display: block;
    position: relative;
    z-index: 1;
    border-radius: 7px;
    overflow: hidden;
    margin: 0 auto;
}

.login100-form-btn {
    font-family: opensans;
    font-size: 15px;
    color: #FFFFFF;
    line-height: 1.2;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    width: 100%;
    height: 40px;
    background-color: #121212;
}

#visibilidadContrasenia {
    width: 6%;
    cursor: pointer;
    position: relative;
}

input[type=submit] {
    cursor: pointer;
}