/* Selectores */
div input, div select {
    height: 10%;
    background-color: transparent;
    border: 0.5px solid #555555;
    margin: 0.3%;
    padding: 5px;
    left: 27.5%;
    width: 45%;
    position: relative;
}
div input::placeholder {
    color: #000000;
}
div input[type=submit] {
    border: 1px solid #64b5f6;
    background-color: #64b5f6;
    color: #FFFFFF;
}
div input[type=submit]:hover {
    border: 1px solid #000000;
    background-color: transparent;
    color: #000000;
}
div input[type=reset] {
    border: 1px solid #ff4a4a;
    background-color: #ff4a4a;
    color: #FFFFFF;
}
div input[type=reset]:hover {
    border: 1px solid #000000;
    background-color: transparent;
    color: #000000;
}
div input[type=checkbox] {
    width: 5%;
}
div textarea {
    width: 100%;
    height: fit-content;
}
input, select, textarea {
    border: 1px solid #000000;
    border-radius: 5px;
    width: 10%;
    height: 3%;
    transition: 0.05s;
}
input[type=submit], input[type=reset] {
    background-color: #000000;
    color: #FFFFFF;
    cursor: pointer;
    border: none;
}
textarea::placeholder {
    font-family: figtree, Arial, Helvetica, sans-serif;
}
fieldset {
    border: none;
}
textarea {
    font-size: medium;
    font-family: figtree, Arial, Helvetica, sans-serif;;
}
td input {
    text-align: center;
    padding: 5px;
    width: 100%;
}

/* Clases */
.check {
    left: 0;
    width: 45%;
    position: relative;
    border-radius: 5px;
}
.check input[type=checkbox] {
    vertical-align: middle;
    width: 20%;
}
.filter {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}
.filter a {
    background-color: #609966;
    text-decoration: none;
}
.confirmar input {
    width: 22.5%;
    margin: auto 0;
}
.smallForm {
    width: 30%;
    border: 1px solid #222831;
    border-radius: 7px;
}
.mediumForm {
    width: 50%;
}
.bigForm {
    width: 97.5%;
}
.smallForm, .mediumForm, .bigForm {
    padding: 10px;
}
.smallForm input, .mediumForm input, .bigForm input, .smallForm select, .mediumForm select, .bigForm input {
    width: auto;
    height: auto;
    left: 0;
    margin-bottom: 1%;
}
.mediumForm input, .mediumForm textarea, .mediumForm select, .bigForm input, .bigForm textarea, .bigForm select {
    border: 1px solid #B8B8B8;
}
.mediumForm input:focus:not([type=checkbox]), .mediumForm textarea:focus, .bigForm input:focus:not([type=checkbox]), .bigForm textarea:focus {
    outline: 4px solid #60A5FA;
}
.mediumForm select:focus, .bigForm select:focus {
    border: 1px solid #60A5FA;
    outline: none;
}
.mediumForm textarea, .bigForm textarea {
    width: 75%;
}
.smallForm label, .mediumForm label, .bigForm label {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}
.mediumForm fieldset, .bigForm fieldset {
    padding: 10px;
    border: 1px solid #000000;
    border-radius: 7px;
}
.mediumForm fieldset textarea, .bigForm fieldset textarea {
    width: 100%;
    resize: none;
}
.mediumForm legend, .bigForm legend {
    text-align: center;
    padding-right: 5px;
    padding-left: 5px;
}
.alignedForms {
    display: flex;
    flex-direction: row;
    gap: 0.5%;
}

/* ID */
#visibilidadContrasenia, #visibilidadContrasenia2 {
    width: 1%;
    cursor: pointer;
    position: relative;
}