/* Estilos generales */
@font-face {
    font-family: figtree;
    src: url(Figtree-VariableFont_wght.ttf);
}
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
body {
    font-family: figtree, Arial, Helvetica, sans-serif;
}

/* Estilos de disposición de la página */
footer, header, main {
    width: 90%;
    float: right;
}
header, nav, footer {
    background-color: #222831;
    color: #FFFFFF;
}
header {
    padding: 20px;
    top: 0;
    right: 0;
    display: block;
    transition: 0.4s;
    font-size: 1rem;
    text-align: center;
}
header button, header a:any-link, header a {
    color: #FFFFFF;
    text-decoration: none;
    font-size: medium;
}
header a:any-link:hover, header a:hover {
    color: #FFFFFF;
    text-decoration: underline;
}
nav {
    width: 10%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    overflow-x: hidden;
    padding-top: 4%;
}
nav a:any-link, nav a {
    text-decoration: none;
    display: block;
    color: inherit;
	padding: 4% 2% 4% 8%;
}
nav a:any-link:hover, nav a:hover {
    text-decoration: underline;
}
nav p {
    padding: 5% 2% 5% 8%;
}
nav hr {
    border: 1px solid #FFFFFF;
    margin: 5%;
}
.sameType {
    margin: 5% 10% 5% 10%;
}
footer {
    text-align: center;
    padding: 10px;
    bottom: 0;
    right: 0;
    clear: both;
}
footer p {
    text-align: center;
    font-size: large;
    display: inline;
    vertical-align: middle;
}
footer button {
    border: none;
    border-radius: 5px;
    padding: 10px;
    margin-left: 0.2%;
    margin-right: 0.2%;
}
footer a img {
    width: 2.5%;
    vertical-align: middle;
    float: right;
}

/* Encabezados, tablas e imágenes */
/* Encabezados */
h1, h2, h3, h4, h5, h6 {
    text-align: center;
    display: inline;
    margin: auto;
}
h4 a:any-link {
    color: black;
    text-decoration: underline;
}

/* Tablas */

/* Imágenes */
img {
    vertical-align: middle;
}

/* Clases */
/* .viewTable se utiliza en archivos de vista */
.viewTable {
    width: 90%;
    margin: 2% auto 2% auto;
    box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.37);
}

/* .viewTableSmall se utiliza en archivos de vista pero muestra una anchura menor y márgenes distintos */
.viewTableSmall {
    width: 40%;
    margin: 1% auto auto 2%;
    box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.150);
}

/* Estilos comunes a .viewTable y .viewTableSmall */
.viewTable, .viewTableSmall, th, td {
    border-collapse: collapse;
    border-spacing: 0px;
    padding: 10px;
    text-align: center;
}
.viewTable th, .viewTableSmall th {
    background-color: #609966;
    color: #FFFFFF;
}
.viewTable tr:nth-of-type(2n), .viewTableSmall tr:nth-of-type(2n) {
    background-color: #F6F6F6;
}
.viewTable th:nth-of-type(1), .viewTableSmall th:nth-of-type(1) {
    border-top-left-radius: 7px;
}
.viewTable th:nth-last-of-type(1), .viewTableSmall th:nth-last-of-type(1) {
    border-top-right-radius: 7px;
}
.viewTable tr:nth-last-of-type(1) > td:nth-last-of-type(1), .viewTableSmall tr:nth-last-of-type(1) > td:nth-last-of-type(1) {
    border-bottom-right-radius: 7px;
}
.viewTable tr:nth-last-of-type(1) > td:nth-of-type(1), .viewTableSmall tr:nth-last-of-type(1) > td:nth-of-type(1) {
    border-bottom-left-radius: 7px;
}
.viewTable tr > th, .viewTableSmall tr > th {
    position: sticky;
    top: 0;
}

/* .view se utiliza para las ventanas emergentes */
.view {
    z-index: 1;
    background-color: #F2F2FF;
    box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.253);
    border-radius: 5px;
    margin: 0 auto;
    margin-top: 10%;
    padding: 1%;
    position: fixed;
    right: 30%;
    left: 30%;
    height: 35%;
    overflow-y: auto;
}
.view p a:any-link {
    color: #000000;
}
.view img {
    width: 30%;
    position: relative;
    margin-right: 0;
}
/* .eliminar se utiliza para las ventanas de confirmación de eliminación */
.eliminar {
    z-index: 1;
    background-color: #F2F2FF;
    box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.253);
    border-radius: 5px;
    margin: 0 auto;
    margin-top: 10%;
    padding: 1%;
    position: fixed;
    right: 40%;
    left: 40%;
    height: 15%;
    overflow: hidden;
    resize: none;
}
.eliminar h3, .eliminar h4 {
    text-align: center;
    display: block;
}

/* .viewFullIssue se utiliza para la vista de incidencias */
.viewFullIssue {
    box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.253);
    width: 95%;
    margin: 2% auto 2% auto;
    padding: 10px;
    border-radius: 7px;
}
.viewFullIssue ul {
    list-style: none;
}
.viewFullIssue section {
    border-radius: 7px;
    border: 1px solid #222831;
}

/* Otras clases */
.display-block {
    display: block;
}
.display-none {
    display: none;
}
.inline {
    display: inline;
}
.float-right {
    float: right;
}
.float-left {
    float: left;
}
.fixed-button {
    position: sticky;
    top: 0;
}
.center {
    text-align: center;
}
.hidden {
    display: none;
}
.red {
    background-color: #FF4A4A;
    color: #FFFFFF;
}
.green {
    background-color: #609966;
    color: #FFFFFF;
}
.w-80 {
    width: 80%;
}

/* Estilos con selectores CSS */
section {
    border: 1px solid #121212;
    border-radius: 5px;
    margin: auto;
    width: 80%;
    padding: 20px;
}
hr {
    border: 1px solid #121212;
}
button {
    cursor: pointer;
    background-color: transparent;
    border: none;
}
td a:any-link {
    color: #000000;
}
td img {
    width: 20px;
}
nav img {
    width: 20%;
}
.add img {
    width: 2%;
}

/* Estilos con ID */
#salida {
    color: red;
}